html {
  background-color: #2d2d2d;
}

#canvas {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
}

#toolbar {
  margin-bottom: 16px;
}

.cell {
  background-color: lightgrey;
  flex-grow: 1;
  flex-shrink: 0;
}